{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./frontend/tailwind.config.js",
  "tailwindFunctions": ["clsx", "cn", "cva", "classNames"]
}
